button.custom-btn-primary{
    color: white;
    background-color: $custom-secondary;
}
button.custom-btn-primary:hover{
    color: white;
}
button.custom-btn-primary:focus{
    box-shadow: 1px 1px 5px $custom-secondary;
}

button.no-style{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: none !important;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
}

button.visit-project{
    width: 30%;
}