@media only screen and(max-width: 768px) {
    .web-graphic{
        display: none !important;
    }
}

// skills
.skills-wrapper{
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    .skill{
        margin-bottom: 1rem;
        .skill-bar{
            width: 100%;
            background-color: #efecec;
            height: 15px;
            border-radius: 5px;
            margin-top: 1rem;
        }
        .skill-bar .skill-level{
            background-color: $custom-secondary;
            height: 100%;
            border-radius: 5px;
        }
    }
}

.skill-level{
    width: var(--skill-level-percent);
}

.start-animation.skills-wrapper{
    .skill-level{
        animation: animate-skill-level 1s ease;
    }
}

@keyframes animate-skill-level {
    0%{
        width: 0%;
    }
    100%{
        width: var(--skill-level-percent);
    }
}

.project-indicator {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    &.client-project {
        background-color: $custom-secondary;
    }
    &.personal-project {
        background-color: $blue;
    }
}